@import "tailwindcss";

:root {
  background-color: #050505;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-sans);
}

@theme {
  --color-background: #0a0a0a;
  --color-primary: #ffffff;
  --color-secondary: #a1a1aa;
  --color-accent: #3b82f6;
  --font-sans: 'Inter', 'sans-serif';
  
  --animate-aurora: aurora 10s linear infinite;
  --animate-shimmer: shimmer 2s infinite;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
